*{
    margin:0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.lista__item {
    font-size: 92px;
}

.principal {
    text-align: center;
  
}

